extends layout

block content
  h1= title
  p Welcome to #{title}

   table
      tr
        th='ID'
        th='Name'
        th='Type'
        th='Faction'
      each i in inv_list
        tr
          td= i.id
          td= i.name
          td= i.type
          td= i.faction
