extends layout

block content
  p Welcome to #{title}

    table
        tr
          th='ID'
          th='Name'
          th='Type'
          th='Faction'
          th='cost'
          th='details'
        for i in carte
          tr
            td= i.id
            td= i.name
            td= i.type
            td= i.faction
            td= i.cost
            td= i.details
